body{
    background-color: #587c8c9a;
}

.header{
    background-color: #c8f4f4;
    height: 10vh;
    display: flex;
    box-shadow: inset #7f7f7fce;
}

.logo{
    flex: 3;
}

.options{
    flex: 1;
    display: flex;
}

.create{
    flex: 1;
}

.save-upload{
    flex: 1;
}

.main{
    display: flex;
}

.workspace{
    height: 70vh; 
    width: 70vw; 
    border: 1px solid #000;
    margin: 2%;
    overflow: scroll;
    flex: 3;
    background-color: white;
}

.tools{
    flex: 1;
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.current_color{
    flex: 1;
}

.color_show{
    flex: 2;
    width: 100%;
    height: 20vh;
    background-color: #ffffff;
}

.color_selector{
    flex: 5;
}

.used_colors {
    padding: 3% 0 3% 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    align-content: center;
}

.color-cell:hover {
  border-color: black;
}

.favcolor{
    cursor: pointer;
}

.brush{
    flex: 2;
}
